*{
    margin:0 auto;
}
body{
    font-family: Helvetica, sans-serif;
}
header,footer{
    width:98%;
    background-color:yellow;
    padding:1%;
    text-align:center;
}
#wrap{
    margin:2% auto;
    width:70%;
}
/*navigacija*/
ul{
    list-style-type:none;    
    font-variant:small-caps;
}
ul a{
    text-decoration:none;
    color:black;
}
nav,nav li, nav ul{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-evenly;
    padding:10px;
}
.dropdown{
    display:none;
}
.drop:hover .dropdown,.drop:hover .dropdown li{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-evenly;
    padding:10px;
}
/*end navigacija*/
.zabava .title{
    width:100%;
    text-transform:capitalize;
    background-color:greenyellow;
    padding:0.2%;
    color:white;
}
.zabava{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:baseline;
    justify-content:space-evenly;
    align-content:center;
    padding:1%;
}
.tehnologija .title{
    width:100%;
    text-transform:capitalize;
    background-color:plum;
    padding:0.2%;
    color:white;
}
.tehnologija{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:baseline;
    justify-content:space-evenly;
    align-content:center;
    padding:1%;
}
section{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:baseline;
    justify-content:space-evenly;
    align-content:center;
    padding:1%;
}
article{
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-content:center;
    padding:1%;
    margin:5px auto;
}
.clanak{
    width:90%;
    display:block;
}
article p,article h1{
    padding:10px;
}
article a{
    text-decoration: none;
    color:black;
    font-variant:small-caps;
}
img{
    width:80%;
    display:flex;
    align-self:flex-start;
}

.img-adm{
    width:100px;
    display:inline-block;
}
/* izgled forme*/
form{
    width: 50%;
    margin: 0 auto;
    padding:1%;
}
form label, form input,form button,form select{
    padding:1%;
    display: block;
    width: 100%;
}
form button,form input[type=submit]{
    padding:10px;
    background: yellow;
    color: black;
    border: 0;
    font-weight: bold;
}
form button:hover,form input[type=submit]:hover{
    background-color:salmon;
}
form input[type=checkbox]{
    height:30px;
    margin:10px;
}
textarea{
    width:100%;
    height:100px;
}
form .error {
color: #ff0000;
}
@media only screen and (max-width: 600px) {
    nav,nav li, nav ul{
        flex-direction: column;
    }
    .drop:hover .dropdown,.drop:hover .dropdown li{
        flex-direction: column;
    }
    .zabava,.tehnologija,section{
        flex-direction: column;
    }
}